@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fbab7e;
  background-image: linear-gradient(42deg, #fbab7e 0%, #f7ce68 100%);
}
h1 {
  text-align: center;
}

h2 {
  margin-left: 50px;
  position: relative;
}
h3 {
  margin-top: 0;
  padding-top: 16px;
}

h2::after {
  position: absolute;
  content: "";
  background-color: #444;
  border-radius: 20px;
  bottom: -5px;
  left: 0;
  height: 4px;
  width: 100px;
}
.container {
  /* background-color: purple; */
  margin: 0 auto;
  max-width: 1200px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

li {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;
  list-style-type: none;
  margin: 20px;
  text-align: center;
  width: 350px;
}
li > a {
  display: block;
  border-bottom: #000;
}

li img {
  display: block;
  object-fit: cover;
  height: 200px;
  width: 350px;
}

button {
  background-color: rgb(255, 99, 71);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 7px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
button:hover {
  opacity: 0.8;
}
button:active {
  transform: scale(0.9);
}
footer {
  background-color: #232323;
  font-size: 18px;
  color: #fff;
  bottom: 0;
  left: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
}
footer a {
  color: #fff;
}
footer i {
  color: green;
}
