@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
:root {
  /* ### Primary */
  --Pink: hsl(322, 100%, 66%);
  /* ### Neutral */
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
}

/* Global */
* {
  box-sizing: border-box;
}

body {
  color: var(--VeryDarkCyan);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  margin: 0;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}
p {
  opacity: 0.6;
}

img {
  max-width: 100%;
}

.btn {
  padding: 13px 50px;
  background-color: #fff;
  color: var(--VeryDarkCyan);

  border: none;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-weight: 700;
}
.btn:hover {
  color: var(--GrayishBlue);
}
.btn-primary {
  padding: 18px 50px;
  background-color: var(--Pink);
  color: #fff;
}
.btn-primary:hover {
  color: #fff;
  opacity: 0.8;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
  width: 1200px;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}
.align-start {
  align-items: flex-start;
}

.flex > div,
.flex > ul {
  flex: 1;
}
.flex > ul:first-child {
  flex: 1.5;
  margin-right: 30px;
}

.logo-title {
  width: 200px;
}

/* Header */

header {
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: var(--VeryPaleCyan);
  background-size: cover;
  background-position: center center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.hero {
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-box {
  padding: 0 30px;
}
/* Main */

.box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  padding: 60px;
}

.small-box {
  display: inline-block;
  margin-bottom: -50%;
  /* transform: translateY(50%); */
}

.box img {
  width: 80%;
}

/* Footer */
footer {
  background-color: var(--VeryDarkCyan);
  color: #ddd;

  padding: 180px 0 60px;
}
footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 20px;
}

footer .circle {
  border: 1px solid #fff;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
footer .circle:hover {
  border: none;
  background-color: var(--Pink);
}

footer i {
  color: #fff;
  font-size: 16px;
}

footer p {
  text-align: right;
}
.company img {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 23px;
  }
  p {
    font-size: 16px;
  }

  nav {
    padding: 20px 10px;
  }
  .logo-title {
    width: 150px;
  }

  .btn {
    padding: 10px 30px;
  }

  .flex {
    flex-direction: column;
  }
  nav.flex {
    flex-direction: row;
  }
  .flex > ul:first-child {
    flex: 1;
    margin-right: 0;
  }

  .hero {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .header-box {
    padding: 20px 20px;
  }

  .box {
    padding: 30px;
  }

  .mobile-reverse {
    flex-direction: column-reverse;
  }
  .align-start {
    align-items: center;
  }
  footer {
    font-size: 16px;
  }
  footer ul {
    padding-left: 0;
  }
  footer p {
    text-align: center;
  }
}
